.Weather {
  border: 1px solid #91b3df;
  border-radius: 3px;
  margin: 30px auto;
  padding: 15px 15px;
  max-width: 406px;
}

.date {
  text-align: center;
  font-size: 15px;
  color: rgb(152, 152, 152);
}

.cityResult {
  text-align: center;
  font-size: 37px;
  color: #91b3df;
  line-height: 26px;
}

h2 {
  text-align: center;
  font-size: 95px;
  color: #91b3df;
  font-weight: bold;
  display: inline-flex;
  padding-bottom: 10px;
  padding-left: 112px;
}

.Weather .unit {
  color: #91b3df;
  font-weight: bold;
  display: inline;
  font-size: 25px;
  position: relative;
  top: -45px;
  line-height: 1;
}

ul {
  margin: 20px 0 0 0;
  padding: 0;
}

li {
  color: rgb(152, 152, 152);
  list-style: none;
  line-height: 19px;
  font-size: 15px;
}

.rightCol {
  padding-left: 12px;
}

img {
  height: 80px;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 8px;
}
