.Weather {
  border: 1px solid #91b3df;
  border-radius: 3px;
  margin: 30px auto;
  padding: 15px 15px;
  max-width: 406px;
}

.date {
  text-align: center;
  font-size: 15px;
  color: rgb(152, 152, 152);
}

.cityResult {
  text-align: center;
  font-size: 52px;
  color: #91b3df;
  line-height: 60px;
  margin-bottom: 0px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-size: 95px;
  color: #91b3df;
  font-weight: bold;
  display: inline-flex;
  margin-top: -10px;
  padding-bottom: 10px;
  padding-left: 105px;
}

.unit {
  color: #91b3df;
  font-weight: bold;
  display: inline;
  font-size: 25px;
  position: relative;
  top: -49px;
  line-height: 1;
}

.unit a {
  color: #ffc108;
  text-decoration: none;
  font-weight: lighter;
}

ul {
  margin: 20px 0 0 0;
  padding: 0;
}

li {
  color: rgb(152, 152, 152);
  list-style: none;
  line-height: 19px;
  font-size: 15px;
}

.rightCol {
  padding-left: 12px;
}

canvas {
  height: 80px;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 8px;
}
